name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  github-stats:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate Overview & Languages
        uses: Yizack/ghstatify@v1
        with:
          user: "PiyushKumar495"
          outputDir: "generated"

      - name: Commit files
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add generated/*.svg
          git commit -m "Auto-update stats" || echo "No changes"
          git push
